*{
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
.container__mainContent{
    display:flex;
    flex-direction:column;
    height:fit-content;
}
.main__ContentBanner{
    display:flex;
    flex-direction: column;
}

.container__mainBanner{
    height:70%;
    overflow:hidden;
    width:100%;
}
.container__mainBanner img{
    background-position:top;
    width:100%;
}
.mainTitle{
    align-self:center;
    color:white;
    display:flex;
    font-size:250px;
    font-family: 'Oswald', sans-serif;
    justify-self: center;
    height: fit-content;
    margin:0 auto;
    position: absolute;
    width: fit-content;
    
}