* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.icon__carrito{
    align-self: center;
    border-radius: 100px;
    display: flex;
    height: 27px;
    justify-self: center;
    margin: 2px 10px;
    padding: 4px;
    width: 27px;
}

.icon__carrito:hover{
    background-color: rgb(65, 142, 35);
}