* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.selectCategory{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px 0 10px 0px;
    width: 100%
}

.inputCategory{
    align-self: center;
    display: flex;
    font-size: 25px;
    height: 50px;
    margin-top: 5px;
    padding-left: 15px;
    width: 100%;
}

p.nameInfo{
    align-self: center;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 5px 5px 25px #d5d5d5,-5px -5px 25px #ebebeb;
    display: flex;
    font-size: 10px;
    margin: 8px;
    padding: 10px;
}

.container__search{
    display: flex;
}