* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container__movies{
    display: flex;
    flex-direction: column;
}

.container--moviesTitle{
    align-items: center;
    background-image: url('../../assets/movies-background.jpg');
    display: flex;
    height: 70vh;
    justify-content: center;
    background-position:center;
    width: auto;
}

.moviesTitle{
    color: white;
    height: fit-content;
    font-size: 250px;
    width: fit-content;
}

.selectCategory{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px 0 10px 0px;
    min-height: 300px;
    width: 100%
}

.inputCategory{
    align-self: center;
    display: flex;
    font-size: 25px;
    height: 50px;
    margin: 10px 65px 10px 65px;
    padding-left: 15px;
    width: 100%;
}

p.nameInfo{
    align-self: center;
    background-color: #ffffff;
    border-radius: 3px;
    box-shadow: 5px 5px 25px #d5d5d5,-5px -5px 25px #ebebeb;
    display: flex;
    font-size: 10px;
    margin: 8px;
    padding: 10px;
}

.container__search{
    display: flex;
}

.link__ItemDetails{
    color: white;
    font-size: 12px;
    text-decoration: none;
}