* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container__ItemCount{
    align-items: center;
    background-color:rgb(239, 239, 255); ;
    border: 1px solid rgb(239, 239, 255);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 230px;
    justify-content: center ;
    margin: 20px 45px;
    width: 150px;
}

.container__ItemCount--Tittle{
    height: 45%;
    color: blue;
}

.count_button{

    height: 25px;
    margin: 10px;
    padding: 5px;
    width: 45px;
}